<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BookmanagementAngular</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css" />

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center page-title">
          <h1>ログイン</h1>
        </div>
      </div>
    </div>
    <div class="spacer"></div>

    <form class="contianer">
      <div class="row spacer"></div>
      <div class="row center-block">
        <div class="col-md-4 col-md-offset-4 header">
          <span>ログインID</span>
        </div>
      </div>
      <div class="row center-block">
        <div class="col-md-4 col-md-offset-4">
          <input
            name="userid"
            type="text"
            class="form-control"
            placeholder="example"
          />
        </div>
      </div>
      <div class="row center-block">
        <div class="col-md-4 col-md-offset-4 header">
          <span>パスワード</span>
        </div>
      </div>
      <div class="row center-block">
        <div class="col-md-4 col-md-offset-4">
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="***"
          />
        </div>
      </div>
      <div class="row spacer"></div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <a
            class="btn btn-fill btn-primary"
            href="./list.html"
          >
            ログイン
          </a>
        </div>
      </div>
    </form>
  </body>
</html>
